{# head #}
{% block head -%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ meta_title|raw }}</title>
    <meta name="keywords" content="{{ meta_keywords }}" />
    <meta name="description" content="{{ meta_description }}" />
    <link href="/favicon.ico" rel="shortcut icon">
    {% if meta_canonical -%}
    <link rel="canonical" href="{{ meta_canonical }}" />
    {% else -%}
    <link rel="canonical" href="{{ _canonical }}" />
    {% endif %}
{% endblock -%}

{# head--css+Js #}
{% block headAssets %}
    <link rel="stylesheet" href="/css/style.min.css">
    <link rel="stylesheet" href="/fonts/iconfont/iconfont.css">
    <script src="/themes/frontend/js/pup.min.js"></script>
{% endblock %}

{# head底部 #}
{% block insertHeadBottom -%}{% endblock -%}

{# Body头部 #}
{% block insertBodyTop -%}{% endblock -%}

{# Body底部 #}
{% block insertBodyBottom -%}{% endblock -%}

{# 导航 #}
{% block top_logo_nav -%}

{# 多语言标签 哪里需要复制到哪里 #}
{# <div class="lang-multiple">
    <i class="iconfont icon-duoyuyan-copy"></i>
    <ul>
        {% for key, item in config('lang.available') %}
            {% if item.accessible %}
                <li>
                    <a href="{{ switch_lang_by_url(_node.url, key) }}">
                        {% if config('lang.icon') %}
                            <img src="{{ item.icon }}">
                        {% endif %}
                        <span>{{ key|upper }}</span>
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div> #}
{% endblock -%}


{# footer #}
{% block footer -%}

{% endblock -%}


{# footer-popup #}
{% block popup -%}

{% endblock -%}


{# Js #}
{% block js -%}
  <script src="/js/lazyscript.jquery.min.js" id="lazyscript"></script>
  <script src="/js/custom.js"></script>
{% endblock -%}